@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

h1{
    font-family:'Overpass', sans-serif;
    color: white;
    font-size: 20pt;
}
.footer__main{
    margin-top: 5%;
    padding:3% 5%;
    background-color:  rgb(2, 18, 112);
}