@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.brand{
    font-family:'Overpass', sans-serif;
    font-size: 20pt;
    color: rgb(43, 46, 226);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10% 0 ;
  }

.nav__links{
    list-style: none;

}

.nav__links li{
    display: inline;
    padding: 0 20px;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    
}

.nav__links li a{
    transition: all 0.3s ease 0s;
    color: black;
    text-decoration: none;
}

.nav__links li a:hover{
    color: rgb(226, 43, 134);
}
  /* Nav{
    padding: 30px 0px 10px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    color: black;
  } */

  .burger div{
      width: 25px;
      height: 2px;
      background-color: rgb(43, 46, 226);
      margin: 5px;
  }

  .burger{
      display: none;
  }


  @media only screen and (max-width: 800px){
    body{
        overflow-x: hidden;
    }

    
    .brand{
        font-size: 16px;
    }

    header{
        display: fixed;
        padding-left: 1%;
    }

    .nav__links {
  
        position: absolute;
        font-family: 'Lato', sans-serif;
        font-size: 15px;
        right: 0px;
        height: 92vh;
        top:8vh;
        z-index: 10;
        background-color: rgb(0, 1, 87);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 1.5s ease-in;
        
  
    }

    .nav__links li{
        margin-top: 10%;
        margin-bottom: 15%;
        opacity: 0;

    }
    .nav__links li a{
        color: white;    
    }

    .burger{
        display: block;
        cursor: pointer;
    }
  }

.nav__active{
    transform: translateX(0);
}